/*
	the colors I am using for this project
	Slimy Green -> #299617
	Autum Foliage -> #763626
	Shadows -> #2A3132
	Stone -> #336B87
	-----------------
	Lime -> #A2C523
	Grass -> #486B00
	Forest Green -> #2E4600
	------------------
	Rain -> #2C7873
	Cadet Blue -> #004445
	Blue Black -> #021C1E
*/

body{
	background-color:#021C1E;
	font-size: 25px;
	margin: 0px;
	
}

div{
	/*background-color:#2A3132;*/
	display: inline-block;
	vertical-align: top;
	margin:15px;
	text-align:center;
	color:#336b87;
	
}

form{
	vertical-align:top;
	text-align:center;
	padding: 10px;
}

input{
	border-radius:15px;
	font-family:"times new roman";
	
}

select{
	border-radius:15px;
	font-family:"times new roman";
}

button{
	padding:10px;
	font-weight:bold;
	font-size:25px;
	border-radius:20px;
	border:none;
	background-color:#763626;
}

button:hover{
	background-image:linear-gradient(#004448,#299617);
}



span{
	vertical-align: top;
}

























